/* RESET */
*{
    padding: 0;
    margin: 0;    
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/* Variáveis */
:root{
    --main-color: #54B689;
    --main-text-color: #FFF;
    --border-color: #999;
    --bio-bg-color: #1E2A3A;
    --bio-border-color: #293544;
    --about-bg-color: #111821;
}


/* RESET */
.highlight{
    color: var(--main-color);
}